/* صفحة تسجيل الدخول بخلفية الصورة */
.login-page {
    background: url('background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* طبقة شفافة فوق الخلفية */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
}

/* صندوق تسجيل الدخول */
.login-box {
    position: relative;
    z-index: 10;
    background: rgba(255,255,255,0.92);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* اللوجو */
.logo {
    width: 170px;
    margin-bottom: 10px;
}

/* حقول الإدخال */
input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 15px;
}

/* الأزرار */
button {
    width: 95%;
    padding: 12px;
    background: #0E1A23;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #C5A46D;
    color: #000;
}


/* صفحة الموظف بيضاء */
.white-page {
    background: white;
    text-align: center;
    padding-top: 60px;
    font-family: Arial;
}
.footer-text {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #0a0a0a;
    font-size: 14px;
    opacity: 0.9;
    letter-spacing: 1px;
}